@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: LemonMilk;
  font-weight: 400;
  src: url('~@/assets/fonts/LemonMilk/LEMONMILK-Regular.otf') format('font-opentype');
}