.icons-enter-active {
    animation: iconEntering ease-in-out 500ms;
  }
  .icons-leave-active {
    animation: iconLeaving ease-in-out 500ms;
  }
  
  @keyframes iconEntering {
    0% {
      transform: translate(0px, 20px);
      opacity: 0;
    }
    50% {
      transform: translate(0px, 10px);
      opacity: 0.8;
    }
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  
  @keyframes iconLeaving {
    0% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    50% {
      transform: translate(0px, -10px);
      opacity: 0.2;
    }
    100% {
      transform: translate(0px, -20px);
      opacity: 0;
    }
  }